:root{
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:60px 80px;
    background-image: url("images/bg-desktop.svg"); /* The image used */
    background-color: var(--violet);
    width: 100vw;
    height: 100vh;
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    background-size: 85% 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.header__container{
    margin-bottom: 100px;
}
.header__image{
    width: 200px;
    height: 40px;
}
.main__container{
    display: flex;
    gap:60px;    
}
.left__container{}
.left__image{
    width:100%;
    height: 490px;
    object-fit: fill;
}
.right__container{
    display: flex;
    flex-direction: column;
}
.right__title{
    margin-bottom:40px;
    color:#fff;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
}
.right__paragraph{
    margin-bottom:40px;
    color:#fff;
    font-weight: 400;
    letter-spacing: 150%;
    font-size: 0.8rem;
    width: 370px;
}
.right__button{
    background:#fff;
    border:0;
    width: 200px;
    height: 50px;
    border-radius:50px;
    color:var(--violet);
    font-weight: 400;
    box-shadow: 4px 4px 4px hsl(0, 0%, 0%,30%);
    cursor: pointer;
}
.right__button:hover{
    background: var(--softmagenta);
    color:#fff;
}
.socialmedia__container{
    align-self: end;
    justify-self: end;
    display: flex;
    gap:15px;
}
.socialmedia__image{
    width: 40px;
    height: 40px;
    border:1px solid #fff;
    border-radius:100%;
    padding:10px;
}
.socialmedia__a:hover .socialmedia__image{
    filter: invert(54%) sepia(61%) saturate(3196%) hue-rotate(294deg) brightness(103%) contrast(99%);
}

@media only screen and (max-width: 800px) {
    body{
        width: 100%;
        height: 100%;
        background-image: url("images/bg-mobile.svg"); /* The image used */
        background-position: left top;
        background-size: 100% 60%;
    }
    .left__image{
        height: 300px;
        object-fit: fill;
    }
    .main__container{
        flex-direction: column;
    }
    .right__container{
        text-align: center;
        margin-bottom: 40px;
    }
    .right__title{
    }
    .right__paragraph{
        width: 100%;
    }
    .right__button{
        align-self: center;
        justify-self: center;
    }
    .socialmedia__container{
        align-self: center;
        justify-self: center;
    }
}