:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --verydarkblue: hsl(234, 12%, 34%);
    --grayishblue: hsl(229, 6%, 66%);
    --verylightgray: hsl(0, 0%, 98%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 100%;
    height: auto;
    background: var(--verylightgray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding:40px;
}
.header__container{
    display: flex;
    flex-direction: column;
}
.header__title{
    text-align: center;
    margin-bottom: 40px;
}
.header__title_lighttext{
    color: var(--grayishblue);
    font-weight: 200;
}
.header__title_boldtext{
    font-weight: 600;
    color: var(--verydarkblue);
}
.header__caption{
    width: 500px;
    text-align: center;
    color:var(--grayishblue);
    margin:0 auto;
    margin-bottom:60px;
}
.content__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:30px;
}
.content__wrapper{
    background: #fff;
    box-shadow: 8px 8px 8px hsl(234, 12%, 34%,10%);
    border-radius: 5px;
    height: 250px;
    width: 100%;
    max-width: 350px;
    padding:20px;
    display: flex;
    flex-direction: column;
}
.content__wrapper:first-child{
    translate: 0px 50%;
    border-top:5px solid var(--cyan);
}
.content__wrapper:nth-child(2){
    border-top:5px solid var(--red);
}
.content__wrapper:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
    border-top:5px solid var(--orange);
}
.content__wrapper:last-child{
    translate: 0px 50%;
    border-top:5px solid var(--blue);
}
.content__title{
    color:var(--verydarkblue);
    margin-bottom:10px;
}
.content__message{
    color:var(--grayishblue);
    line-height: 150%;
    margin-bottom: auto;
}
.content__image{
    align-self: end;
    width: 60px;
    height: 60px;
}

@media only screen and (max-width:750px) {
    body{
        padding:0 40px;
    }
    .header__caption{
        width: auto;
    }
    .content__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:30px;
    }   
    .content__wrapper{
        max-width: 100%;
    }
    .content__wrapper:first-child{
        translate: 0px 0%;
    }
    .content__wrapper:nth-child(2){}
    .content__wrapper:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .content__wrapper:last-child{
        translate: 0px 0%;
    }
}